<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Front End Day 27 - Cron Job Manager</title>
  <link rel='stylesheet' href='/statics/css/css.css?family=Ubuntu'>
<link rel='stylesheet' href='/statics/css/icon.css?family=Material+Icons'>
<link rel="stylesheet" href="/statics/css/style.css">
</head>
<body>
<!-- partial:index.partial.html -->

<div class="container">
  <div class="header">Date-agent</div>
  <div class="header" style="height: auto">
    <div class="test">
        <label style="display: flex; justify-content: space-between;height: 50px;padding-top: 10px;" class="change">
          <select id="changeType" style="background: #ccc;">
            <option value ="+">前进</option>
            <option value ="-">后退</option>
          </select>
            <input type="text" id="changeDays" name="name" style="margin-left: 5px"/>days
            <input type="text" id="changeHours" name="name" style="margin-left: 5px"/>hours
            <input type="text" id="changeMins" name="name" style="margin-left: 5px"/>minites
          <button id="changeHoursBtn" >Change</button>
        </label>
    </div>
    <div class="test">
      <label class="change">

      </label>

      <label class="reset">  <input type="text" name="name" value="ntpdate cn.pool.ntp.org" style="display:none"/>
        <button id="save" style="width: 200px">获取当前时间</button>
        <button class="bg-red" id="reset" style="width: 200px">还原时间</button>
      </label>
    </div>
  </div>
  <div id="body">
    <table>
      <thead>
        <tr>
          <th width="20%">HostName</th>
          <th width="10%">TaskId</th>
          <th width="70%">OutPut</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="footer">
    <!--<button id="new" style="float:right;">New</button>-->
  </div>
  <div class="modal close" id="modify">
    <div class="header">Modifying:
      <button class="bg-grey" id="close" style="float:right;">Close</button>
      <!--<button class="bg-red" id="del" style="float:right;">Del</button>-->
      <!--<button id="save" style="float:right;">Save</button>-->
    </div>
    <div class="body">
      <form>
        <!--<label>Name:
          <input type="text" name="name" hidden/>
        </label>
        <label>Path:
          <input type="text" name="path"/>
        </label>
        <label>Start Date and Time:
          <div style="clear:both;">
            <input type="date" name="startDate"/>
            <input type="time" name="startTime"/>
          </div>
        </label>
        <label>End Date and Time:
          <div style="clear:both;">
            <input type="date" name="endDate"/>
            <input type="time" name="endTime"/>
          </div>
        </label>
        <label>How often should it run
          <select name="interval">
            <option>Daily</option>
            <option>Weekly</option>
            <option>Monthly</option>
            <option>Yearly</option>
          </select>
        </label>
        <label>On that day repeat every (blank = no repeat)
          <input type="time" name="repeatEvery" style="display:block; float:none; margin-left:0px;"/>
        </label>
        <label>Day Numbers:
          <input type="text" name="days"/>
        </label>-->
        <label>输入指令:
          <input type="text" name="weeks"/>
        </label>
      </form>
    </div>
  </div>
</div>
<div class="container1">
  <div class="header">Response Log</div>
  <div id="log">
  </div>
</div>
<!-- partial -->
  <script  src="/statics/js/script.js"></script>
</body>
</html>